<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net47" />
  <package id="bootstrap" version="3.4.1" targetFramework="net47" />
  <package id="DevExpress.Charts" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Charts.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.CodeParser" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Data" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Data.Desktop" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.DataAccess" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.DataVisualization.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Gauges.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Images" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Office.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Pdf.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Pdf.Drawing" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.PivotGrid.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Printing.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Reporting.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.RichEdit.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.RichEdit.Export" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Scheduler.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Sparkline.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.SpellChecker.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Spreadsheet.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.TreeMap" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.TreeMap.Core" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Utils" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Web" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Web.Mvc5" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Web.Office" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Web.Reporting" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Web.Reporting.Common" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Web.Scheduler" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Web.Visualization" version="21.2.6" targetFramework="net47" />
  <package id="DevExpress.Xpo" version="21.2.6" targetFramework="net47" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net47" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net47" />
  <package id="jQuery" version="3.4.1" targetFramework="net47" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net47" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net47" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net47" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net47" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Modernizr" version="2.8.3" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net47" />
  <package id="WebGrease" version="1.6.0" targetFramework="net47" />
</packages>